{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="contact-form row">
        <div class="contact-form-img col">
            <div class="d-flex justify-content-center pb-5">
                <img src="{% static 'img/logo.png' %}" class="form-img w-50 h-50" alt="CCNSC-RDC">
            </div>
            
            <div class="n-1 pb-3">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                343, Bld Lumumba, 11ème Rue Limete Industrielle, Réf. Congrégation CICM Kinshasa. RD. Congo.
            </div>
            <div class="n-1 pb-3">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-phone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                +243 82 117 8568
            </div>
            <div class="n-1 pb-3">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                </svg>
                +243 99 992 9705
            </div>
            <div class="n-1 pb-3">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
                contact@ccnsc-rdc.com
            </div>

            <br>
            <div class="n-1 pb-3">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                </svg>
                Chaque jour: 08h:00 - 17h:00
            </div>
        </div>
        <div class="contact-form-forms col">
            <h2 class="banner">Contactez-Nous ici.</h2>
                <div class="container">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Nom</label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name *" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Prénom</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name *" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Addresse email</label>
                                <input type="email" class="form-control" name="email_id" id="email_id" placeholder="ex: gedeonntumba@eventdrc.com">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Numéro téléphone</label>
                                <input type="tel" class="form-control" name="phone_num" id="phone_num" onkeypress="return isNumberKey(event)" placeholder="+243..">
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label for="inputAddress2">Objet</label>
                            <input type="text" class="form-control" id="objet_name" name="objet_name" placeholder="Objet de votre message">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea maxlength="5000" rows="5" class="form-control" name="message" id="message" placeholder="Ecrivez votre message ici..."></textarea>
                        </div>
                    <div class="form-row mt-2">
                            <div class="form-group col text-center">
                                <input type="submit" value="SEND MESSAGE"
                                        class="btn btn-primary btn-rounded btn-4 font-weight-semibold mx-auto btn-v-4 btn-h-5"
                                        name="submit_button" id="submit_button"
                                        data-loading-text="Loading...">
                            </div>
                        </div>
                    </form>
                </div>

        </div>
    </div>
</div>
{% endblock content %}