<div class="actualite-side col-md-3">
    <div class="province">
        <div class="banner pt-2">
            <h4>Provinces</h4>
        </div>
        <div class="list-province">
            <ul>
                <li><a href="">Équateur</a></li>
                <li><a href="">Haut_Katanga</a></li>
                <li><a href="">Haut_Lomami</a></li>
                <li><a href="">Haut_Uele</a></li>
                <li><a href="">Ituri</a></li>
                <li><a href="">Kasaï</a></li>
                <li><a href="">Kasaï_Central</a></li>
                <li><a href="">Kasaï_Oriental</a></li>
                <li><a href="">Kinshasa</a></li>
                <li><a href="">Kongo_Central</a></li>
                <li><a href="">Kwango</a></li>
                <li><a href="">Kwilu</a></li>
                <li><a href="">Lomami</a></li>
                <li><a href="">Lualaba</a></li>
                <li><a href="">Mai_Ndombe</a></li>
                <li><a href="">Maniema</a></li>
                <li><a href="">Mongala</a></li>
                <li><a href="">Nord_Kivu</a></li>
                <li><a href="">Nord_Ubangi</a></li>
                <li><a href="">Sankuru</a></li>
                <li><a href="">Sud_Kivu</a></li>
                <li><a href="">Sud_Ubangi</a></li>
                <li><a href="">Tanganyika</a></li>
                <li><a href="">Tshopo</a></li>
                <li><a href="">Tshuapa</a></li>
            </ul>
        </div>
    </div>
</div>