@import url("http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900");

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

*{
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    min-height: 600px;
    height: 100vh;
    width: 100%;
    line-height: 1.3;
    /* background: url('../img/background.png'), repeat, center; */
}

.boutton {
    background-color: #0076B7;
}

.nav-logo {
    height: 60px;
}

footer{
    background-color: #000000;
    font-size: 12px;
    /* text-align: center; */
}

footer .footer-link {
    text-decoration: none;
    color: #ffffff;
}

a {
    text-decoration: none;
}


/*  */
.card { 
    border: none;
}

.bordure {
    border: 6px;
}

@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }