{% extends 'base.html' %}
{% load static %}
{% block title %}A Propos de Nous!{% endblock title %}

{% block content %}

<div class="about"> 
    <img src="../../../static/img/about.png" class="w-100 h-20 pb-4" alt="A Propos de la  Cadre de Concertation Nationale de la Société Civile Congolaise">

    <div class="container banner">       
        <h2>A Propos de Nous</h2>
    </div>
    <div class="container about-body">
        <p class="text-justify">
            Créé à Kinshasa, par les Délégués des organisations de la Société civile congolaise réunis dans le 1 er Forum National au centre 
            Théressianum à Kinshasa, du 17 au 22 juillet, le « Cadre de Concertation Nationale de la Société Civile Congolaise » en, 
            sigle CCNSC-RDC est une Association sans but lucratif (ASBL) de synergie d’organisations jouissant d’une personnalité juridique.
        </p>
        <p class="text-justify">
            Elle a son siège social à Kinshasa, capitale de la République Démocratique du Congo, et ses activités sont réalisées sur toute 
            l’étendue de la République Démocratique du Congo, ou dans toute autres synergie d’actions au niveau régional ou international, 
            sous invitations des organisations partenaires dans leurs États.
        </p>
        <p class="text-justify">
            Elle est destiné à créer un espace d’échanges et d’interactions entre toutes les OSC sans exclusif et entre les OSC et les 
            structures étatiques, les partenaires scientifiques techniques, et financiers, en vue de contribuer à l’émergence d’une société 
            congolaise moderne, juste, responsable vis-à-vis d’elle-même et de ses partenaires internes et externes,
            pour assurer un développement national harmonieux, intégral.
        </p>
        <p class="text-justify">
            En organisant le présent Forum, les organisations de la société civile lui avaient assigné sept objectifs principaux, à savoir :
        </p>


        <h4 class="py-3">Objectifs généraux:</h4>
        <ul class="list-style text-justify">
            <li>
                Mettre en exergue le rôle des organisations de la société civile de la RDC dans le « policymaking process » ;
            </li>
            <li>
                Mettre en place un cadre de concertation et des mécanismes d’un dialogue civil permanent, contribuant à la consolidation 
                de la démocratie participative et de la paix durable en RDC.
            </li>
        </ul>


        <h4 class="py-3">Objectifs spécifiques:</h4>

        <ul class="list-style text-justify">
            <li>
                Développer les mécanismes de non exclusivité des différentes organisations de la société civile et de leurs 
                leaders autours des questions d’intérêt général;
            </li>
            <li>
                Organiser et redynamiser les groupes thématiques, plates formes et dynamiques des objectifs du millénaire en 
                faveur du pays et de la société;
            </li>
            <li>
                Définir des stratégies de travail pour une synergie et une cohérence d’actions de développement à mener par 
                les organisations de la société civile;
            </li>
            <li>
                Faciliter la réalisation des activités des plaidoyers et de lobbying en faveur des organisations de la société civile congolaise;
            </li>
            <li>
                Promouvoir les groupes thématiques, les plates formes et les dynamiques relatives aux regroupements individuels et collectifs avec
                leurs organisations et faciliter leur structuration en thématiques tant au niveau local, provincial que national;
            </li>
            <li>
                Participer, aux côtés des groupes thématiques, les plates formes et les dynamique , à la réalisations des projets de développement 
                et de toute action d’intérêt publique et communautaire en faveur des populations et pour la promotion des organisations elles-mêmes .
            </li>
        </ul>
        <p class="text-justify">
            A ce titre, il est le cadre fédérateur et constitue le niveau le plus élevé des Concertations pour toutes questions stratégiques 
            de la société civile congolaise.
        </p>
    </div>

    <div class="wrapper">
        <h1>Notre coordination</h1>
        <div class="team">
            {% for team in team_list %}
                <div class="team_member shadow-lg">
                    <div class="team_img">
                        <img src="{{ team.team_image.url }}" alt="{{ team.team_name }}">
                    </div>
                    <h3><a href="{% url 'ourteam:team' team.id %}">{{ team.team_name|truncatechars:25 }}</a></h3>
                    <p class="role">{{ team.team_designation }}</p>
                    <p>
                       {{ team.team_description|truncatechars:100 }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>	
</div>

{% endblock content %}
