
<footer class="container-fluid">
    <div class="row py-5">
        <div class="order-3 col-12 order-lg-1 col-lg-4 social-and-copyright text-center footer-col">
            <div class="text-center">
                <ul class="list-unstyled nav-links text-white text-left">
                    <li>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                        <span class="pl-2">
                            343, Bld Lumumba, 11ème Rue Limete Industrielle, Réf. 
                                Congrégation CICM Kinshasa. RD. Congo.
                        </span>
                    </li>
                    <li>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                        <span class="pl-2">
                           ccnsc@ccnsc-rdc.org 
                        </span>
                    </li>
                    <li>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                        </svg>
                        <span class="pl-2">
                          +243 82 117 8568  
                        </span>
                    </li>
                    <li>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-phone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                        <span class="pl-2">
                           +243 99 992 9705 
                        </span>
                    </li>
                </ul>
                
            </div>
            <div class="text-center pt-3">
                <ul class="list-inline">
                    <li class="d-inline pr-2"><a href="https://www.facebook.com/" target="_blank" class="text-white"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
                    <li class="d-inline pr-2"><a href="https://twitter.com/" target="_blank" class="text-white"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                    <li class="d-inline pr-2"><a href="https://www.instagram.com/" target="_blank" class="text-white"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <li class="d-inline pr-2"><a href="https://linkedin.com/" target="_blank" class="text-white"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                    <li class="d-inline pr-2"><a href="https://youtube.com/" target="_blank" class="text-white"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
                </ul>
                <p>&copy; 2020 - Eventdrc Technology & EIC</p>
            </div>
        </div>
        <div class="order-1 col-12 col-md-6 order-lg-2 col-lg-4 footer-col m-2 m-sm-0">
            <div class="text-center">
                <h4 class="text-white">Menu</h4>
                <ul class="list-unstyled nav-links text-white">
                    <li><a href="{% url 'app:home' %}" class="footer-link text-white">Acceuil</a></li>
                    <li><a href="{% url 'actualite:actualite' %}" class="footer-link text-white">Actualités</a></li>
                    <li><a href="{% url 'app:economie' %}" class="footer-link text-white">Econommie</a></li>
                    <li><a href="{% url 'app:sante' %}" class="footer-link text-white">Santé</a></li>
                    <li><a href="{% url 'app:securite' %}" class="footer-link text-white">Sécurités</a></li>
                    <li><a href="{% url 'app:formation' %}" class="footer-link text-white">Formations</a></li>
                    <li><a href="{% url 'app:contact' %}" class="footer-link text-white">Contact</a></li>
                    <li><a href="{% url 'ourteam:about' %}" class="footer-link text-white">A Propos de CCNSC-RDC</a></li>
                    <li><a href="{% url 'login' %}" class="footer-link text-white">Mon compte</a></li>
                </ul>
            </div>
            <hr class="footer-hr d-block d-md-none mx-auto">
        </div>
        <div class="order-2 col-12 col-md-6 col-lg-4 footer-col mb-2 mb-sm-0">
            <div class="text-center pb-3">
                <h4 class="text-white">Temps d'ouverture</h4>
                <ul class="list-unstyled nav-links text-white">
                    <li><i class="fa fa-clock"></i>&nbsp;&nbsp;Lundi du Vendredi : 08:30 - 16:30</li>
                    <li><i class="fa fa-clock"></i>&nbsp;&nbsp;Samedi: 08:30 - 13:00</li>
                </ul>
            </div>
            <hr class="footer-hr d-block d-md-none mx-auto">
            <!-- <div class="text-center newsletter">
                <h4 class="text-white">Newsletter</h4>
                <p class="text-white ">Restez informer en temps réel en souscrivant</p>
                <div class="txtb">
                    <input type="email" placeholder="Enter Your Email Address">
                    <button type="button"><i class="fa fa-search"></i></i></button>
                </div>
            </div> -->
            <div class="text-center pb-3">
                <h4 class="text-white">Newsletter</h4>
                <form enctype="multipart/form-data" method="post" action="/newsletter/newsletter/subscribe/">
                    {% csrf_token %}
                    <!-- <label for="id_email_field">E-mail:</label> -->
                    <input type="email" name="email_field" required="" id="id_email_field" placeholder="Email">
                    <button id="id_submit" name="submit" value="Subscribe" type="submit">Abonnez-vous</button>
                </form>
            </div>
        </div>
    </div>
</footer>
